<div class="container">
    
    <p>{{message}}</p>
    <div class="row">
        <form action="/task/create" method="POST" class="new-task-form col s12">
            <div>
                <label for="userId">Select User</label>
                <select id="user" name="userId" required>
                    {{#each allUsers}}
                    <option value="{{this._id}}">{{this.username}}</option>
                    {{/each}}
                </select>
            </div>
            <div>
                <label for="duration">Duration in mins</label>
                <select id="duration" name="duration" required>
                    {{#each (range 1 60)}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="input-field">
                <input type="text" maxlength="100" name="exersize" required placeholder="Description">
            </div>
            <button type="submit" class="btn waves-effect waves-light full-size" style="margin-bottom: 10px;">Create Task</button>
        </form>
    </div>

</div>
</div>