<div class="container">
  <p class="title"><span>{{currentUser.username}}'s</span> tasks list</p>

 <table class="striped">
      <thead>
        <tr>
          <th>Description</th>
          <th>Duration (mins)</th>
          <th>Created</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
          {{#each currentUser.exercises}}
        <tr>
          </td>
            <td>{{this.description}}</td>
            <td>{{this.duration}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this._id}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
     

</div>